body {
    display: flex;
    background-color: #ABD2EB;
    justify-content: center;
    align-items: center;
}

h1 {
    text-decoration: none;
}

button {
    font-size: 150%;
    margin-top: 10%;
    background-color: #ABD2EB;
    padding: 1%;
    width: 100%;
}